.chat-main
  .chat-main__group-info
    .chat-main__group-info__left
      %p.chat-info-name
        = @group.name
      %p.chat-info-subname
        Member :
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__right
      = link_to 'Edit', "/groups/#{@group.id}/edit", class: "edit__btn"

  .chat-main__message-lists
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'
