.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "contents__btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "contents__btn" do
          = icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-list
        = link_to '#' do
          .group-list_name
            = group.name
          .group-list_message
            メッセージはまだありません。
